/data/*_endo.csv
/data/*_exo.csv
/data/.RData
/data/.Rhistory
/dynare/*
!/dynare/*.mod
!/dynare/usmodel_data.mat
!/dynare/usmodel_shock_decomp_mode.mat
/text/latex/empirical/*
!/text/latex/empirical/images
!/text/latex/empirical/images/*
!/text/latex/empirical/*.tex
!/text/latex/empirical/*.bib
/text/latex/proposal/*
!/text/latex/proposal/images
!/text/latex/proposal/images/*
!/text/latex/proposal/*.tex
!/text/latex/proposal/*.bib
/R/.RData
/R/.Rhistory
/text/latex/presentation/*
!/text/latex/presentation/images
!/text/latex/presentation/images/*
!/text/latex/presentation/*.tex
!/text/latex/presentation/*.bib
/text/latex/algo/*
!/text/latex/algo/images
!/text/latex/algo/images/*
!/text/latex/algo/files
!/text/latex/algo/files/*
!/text/latex/algo/*.tex
!/text/latex/algo/*.bib
*/__pycache__/*
